.form-label {
    font-size: 1.7rem;
}

.btn:hover {
    background-color: rgb(86, 241, 86);
    border-color: rgb(86, 241, 86);
    color: black;
    font-weight: 600;
}

.detalle {
    color: grey ;
}

.producto {
    font-size: 1.5rem;
}


.mas {
    padding-left: 7px;
    padding-right: 2px;
    cursor: pointer;
}

.menos {
    cursor: pointer;
}

.mas:hover {
    color: green;
    font-size: 110%;
}
.menos:hover {
    color: red;
    font-size: 110%;
}

.linea {
    display: flex;
    justify-content: center;
    width: 100%;
}

.modal-header {
    background-color: rgb(182, 180, 180);
}

.modal-footer {
    background-color: rgb(182, 180, 180);
}