<div class="container">


  <div class="row mt-2">

    <div class="col col-lg-6 offset-4 mx-1">
      <div class="mb-3">
        <label for="prod" class="form-label"> Ingrese producto</label>
        <input type="text" class="form-control form-control-lg" name="filterProd" [(ngModel)]="filterProd" id="prod"
          placeholder="producto..." autofocus>
      </div>
    </div>

    <div class="col-lg-4 offset-6" *ngIf="montoCarrito > 0">
      <div class="col-2">
      <p class="fs-3"[(ngModel)]="actualizarMontoTotalCarrito()">Monto presupuestado <span class="fs-3 fw-bolder">$ {{ montoCarrito }}</span></p>
    </div>
    <div class="col-2 offset-2">
      <button class="btn btn-lg btn-information" (click)="resetCarrito()"> Reset &nbsp; <i class="fas fa-cart-plus"></i> </button>
    </div>
  </div>

    <table class="table table-striped table-hover table-sm">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Categoria</th>
          <th scope="col">Stock</th>
          <th scope="col">Precio</th>
          <th scope="col">Acción</th>
        </tr>
      </thead>

      <tbody class="contenido">
        <tr *ngFor="let prod of listaProd | filter:filterProd"
          [ngClass]="prod.stock === 0 ? 'table-danger' : 'contenido'">
          <th scope="row">{{ prod.id }}</th>
          <td>{{ prod.nombre }}</td>
          <td>{{ prod.categoria }}</td>
          <td>{{ prod.stock }}</td>
          <td>${{ prod.precioVenta }}</td>
          <td class="linea">
            <button class="btn btn-ligth btn-sm" (click)="abrirModalAgregar(prod, modalAgregar)">
              <i class="fas fa-cart-plus"></i>
            </button>

            <button class="btn btn-ligth btn-sm" (click)="abrirModalSumarStock(prod, modalSumarStock)">
              <i class="fas fa-plus-circle"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>

  </div>

  <div class="row">

  </div>


  <!-- Modal -->
  <ng-template #modalAgregar>
    <div class="modal-header modal-dialog-centered">
      <h2 class="modal-title" id="staticBackdropLabel">Agregar al carrito</h2>
      <button type="button" class="btn-close" (click)="cerrarAgregar()"></button>
    </div>
    <div class="modal-body">
      <h3>Producto</h3>
      <h6 class="detalle">{{ unProd.nombre }}</h6>
      <br>
      <h3>Categoria</h3>
      <h6 class="detalle">{{ unProd.categoria }}</h6>
      <br>
      <h3>Stock Disponible</h3>
      <h6 class="detalle">{{ unProd.stock }}</h6>
      <br>
      <h3>Precio unitario</h3>
      <h6 class="detalle">${{ unProd.precioVenta }}</h6>
      <br>
      <h3>Cantidad (elegir): </h3>
      <h6 class="detalle producto">{{ cantidad }}
        <i class="fas fa-arrow-alt-circle-up mas" (click)="sumar(unProd.stock)"></i>
        <i class="fas fa-arrow-alt-circle-down menos" (click)="restar()"></i>
      </h6>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary btn-lg" (click)="cerrarAgregar()">Cerrar</button>
      <button type="button" class="btn btn-primary btn-lg" (click)="agregar()">Agregar</button>
    </div>
  </ng-template>


  <ng-template #modalSumarStock>
    <div class="modal-header modal-dialog-centered">
      <h2 class="modal-title" id="staticBackdropLabel">Sumar al stock</h2>
      <button type="button" class="btn-close" (click)="cerrarStock()"></button>
    </div>
    <div class="modal-body">
      <h3>Producto</h3>
      <h6 class="detalle">{{ unProd.nombre }}</h6>
      <br>
      <h3>Categoria</h3>
      <h6 class="detalle">{{ unProd.categoria }}</h6>
      <br>
      <h3>Stock Disponible</h3>
      <h6 class="detalle">{{ unProd.stock }}</h6>
      <br>
      <div class="row">
        <div class="col col-3">
          <h3>Precio unitario</h3>
          <h6 class="detalle">${{ unProd.precioVenta }}</h6>
        </div>
        <div class="col col-3 offset-3">
          <h3>Nuevo Precio unitario</h3>
          <input [(ngModel)]="nuevoPrecioVenta" type="number"
            class="form-control form-control-md text-center fs-5 fw-bold" min="1">
        </div>
      </div>

      <br>
      <div class="col col-4 linea">
        <h3> Cantidad: </h3>
        <input [(ngModel)]="cantStock" type="number" class="form-control form-control-md text-center fs-5 fw-bold"
          min="1">
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary btn-lg" (click)="cerrarStock()">Cerrar</button>
      <button type="button" class="btn btn-primary btn-lg" (click)="gestorAgregarStock()">Agregar</button>
    </div>
  </ng-template>
</div>
