.title {
    margin-top: 50px;
}
.btnBot{
    margin-top: 10px;
}

.modBtn:hover {
    font-size: 120%;
}

.delBtn:hover {
    font-size: 120%;
    color: red;
}

.inp {
    text-align: center;
    margin-bottom: 10px;
}

form {
    margin-top: 20px
}