<div class="row mt-5">

    <div class="col-lg-4 offset-4">

        <form class="mt-5 form-control form-control-lg">
            <div class="mb-3">
                <label for="user" class="form-label">Usuario</label>
                <input type="text" class="form-control form-control-lg" id="user" aria-describedby="emailHelp"
                    [(ngModel)]="user.usuario" name="usuario" placeholder="Ingrese su usuario..." required autofocus>
            </div>
            <div class="mb-3">
                <label for="pass" class="form-label">Contraseña</label>
                <input type="password" class="form-control form-control-lg" id="pass"
                [(ngModel)]="user.clave" name="clave" placeholder="Ingrese su contraseña..." required>
            </div>
            <div class="row mx-5">
                <button type="submit" class="btn btn-secondary btn-lg mt-3" (click)="singIn()">Ingresar</button>
            </div>
        </form>

    </div>

</div>